body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;
    background: -webkit-radial-gradient(circle, yellow, green);
    background: -moz-radial-gradient(circle, yellow, green);
    background: -o-radial-gradient(circle, yellow, green);
    background: radial-gradient(circle, yellow, green);
}